:root{
    --standard-border-radius: 20px;
    --accent: #8a2be2;
}

a {
  text-decoration: none;
}

.header__profile-image {
    border-radius: 30%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin-bottom: 2rem;
  }
  
  .grid-item {
    background-color: var(--accent-bg);
    border: 1px solid var(--border);
    border-radius: var(--standard-border-radius);
    padding: 1rem;
  }
  
  @media only screen and (max-width: 720px) {
    .grid-container {
      grid-template-columns: 1fr;
    }
  }







  /* CSS for post detail page */

  .post-detail {
    border: 1px solid var(--border);
    border-radius: var(--standard-border-radius);
    padding: 1rem;
    margin-top: 10px;
  }
  
  .post-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .post-author-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 0.5rem;
  }
  
  .post-author-info {
    display: flex;
    flex-direction: column;
  }
  
  .post-author-name {
    font-size: 1rem;
    margin: 0;
  }
  
  .post-author-username {
    color: var(--text-light);
    font-size: 0.9rem;
    margin: 0;
  }
  
  .post-content {
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0;
    padding: 1rem;
    background-color: var(--accent-bg);
    border-radius: var(--standard-border-radius);
  }
  
  .post-metadata {
    margin-top: 1rem;
    color: var(--text-light);
    font-size: 0.9rem;
  }


/* Custom CSS for Comments */
.post-comments {
    margin-top: 2rem;
  }
  
  .comment {
    border: 1px solid var(--border);
    border-radius: var(--standard-border-radius);
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  .comment-header {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  .comment-author-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 0.5rem;
  }
  
  .comment-author-info {
    display: flex;
    flex-direction: column;
  }
  
  .comment-author-name {
    font-size: 0.9rem;
    margin: 0;
  }
  
  .comment-author-username {
    color: var(--text-light);
    font-size: 0.8rem;
    margin: 0;
  }
  
  .comment-content {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
  }
  
  .comment-metadata {
    margin-top: 0.5rem;
    color: var(--text-light);
    font-size: 0.8rem;
  }

  

  