{% extends "base.html" %}
{% block title %}{{object.post_author.first_name|add:" "|add:object.post_author.last_name}} on CircleX: "{{object|truncatechars:15}}"{% endblock title %}

{% block main_content %}


<article class="post-detail">
  <div class="post-header">
    <img class="post-author-avatar" src="{{ MEDIA_URL }}images/user.jpg" alt="Author Avatar">
    <div class="post-author-info">
      <h3 class="post-author-name">{{ object.post_author.first_name|add:" "|add:object.post_author.last_name }}</h3>
      <a class="post-author-username" href="{% url "user-profile" username=object.post_author.username %}">@{{ object.post_author.username }}</a>
    </div>
  </div>
  <blockquote class="post-content">
    <p>{{ object.post_content }}</p>
  </blockquote>
  <div class="post-metadata">
    <span class="post-timestamp">{{ object.post_created_at }}</span>
  </div>
</article>

<article class="post-detail">
  <!-- ... (Post detail HTML) ... -->
  <div class="post-comments">
    <h3>Comments</h3>
    <div id="disqus_thread"></div>
<script>
    
    var disqus_config = function () {
    this.page.url = "{{request.build_absolute_uri}}";  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = "{{object.post_id}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    (function() { 
    var d = document, s = d.createElement('script');
    s.src = 'https://circlex.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Comments can't be loaded because you chose to disable JavaScript</a></noscript>


    {% comment %} This will be enabled later when I get free time {% endcomment %}
    {% comment %} <div class="comment">
      <div class="comment-header">
        <img class="comment-author-avatar" src="user-avatar.jpg" alt="Author Avatar">
        <div class="comment-author-info">
          <h4 class="comment-author-name">John Doe</h4>
          <p class="comment-author-username">@johndoe</p>
        </div>
      </div>
      <p class="comment-content">This is a great post! I really enjoyed reading it.</p>
      <div class="comment-metadata">
        <span class="comment-timestamp">1 hour ago</span>
      </div>
    </div> {% endcomment %}
  </div>
</article>
<script id="dsq-count-scr" src="//circlex.disqus.com/count.js" async></script>
{% endblock main_content %}